PORT=3005
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=vietcart_notification
JWT_SECRET=vietcart_dev_secret
INTERNAL_API_KEY=vietcart_internal_dev_key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=phuochahung@gmail.com
SMTP_PASS=imyp plos kqxs bmfi
SMTP_FROM=VietCart <no-reply@vietcart.vn>
