PORT=3004
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=vietcart_payment
ORDER_SERVICE_URL=http://localhost:3003
INTERNAL_API_KEY=vietcart_internal_dev_key
PAYOS_CLIENT_ID=d6782532-ce15-4828-b316-26a7401fc2b9
PAYOS_API_KEY=1b1327a3-4632-4af3-9951-5e862e11c9e7
PAYOS_CHECKSUM_KEY=808c42a187601f2478e948bd7bfab61e14a431db53bdf9ec5a515c62d04eada9
PAYOS_BASE_URL=https://api-merchant.payos.vn
PAYOS_RETURN_URL=http://localhost:5173/orders
PAYOS_CANCEL_URL=http://localhost:5173/cart
