PORT=3006
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=vietcart_user
JWT_SECRET=vietcart_dev_secret
JWT_EXPIRES_IN=1d
NOTIFICATION_SERVICE_URL=http://localhost:3005
INTERNAL_API_KEY=vietcart_internal_dev_key
